from flask import Flask, render_template, redirect, abort, request, jsonify, make_response, url_for, session
from data.users import User
from data import db_session, jobs_api
from flask_login import LoginManager, login_user, current_user, login_required, logout_user
from wtforms import SubmitField, BooleanField, PasswordField
from wtforms.fields.html5 import EmailField
from wtforms.validators import DataRequired
from flask_wtf import FlaskForm
from forms.jobs import JobsForm
from data.jobs import Jobs
from forms.user import RegisterForm
from flask_restful import reqparse, abort, Api, Resource
import users_resource
import jobs_resource
from data.works import Works
import os
import requests
from data.chat import Chat